:root {
    --color-bg-main: #6CA67C;
    --color-bg-modal: #EDF2EF;
    --color-bg-hover: #222226;

    /* 텍스트(Text Colors) */
    --color-text-primary: #111111;
    --color-text-secondary: #444444;
    --color-text-tertiary: #777777;
    --color-text-quaternary: #D7D8E0;

    /* 채팅 */
    --color-chat-bg: #EDEDF5;
    --color-chat-system-bg: #E1E8E5;
    --color-chat-system-text: #6CA67C;
    --color-chat-mine-bg: #6CA67C;
    --color-chat-mine-text: #ffffff;
    --color-chat-other-bg: #e6ebed;
    --color-chat-other-text: #111111;
    --color-chat-time: #6B7280;
}

:root[data-theme="dark"] {
    --color-bg-main: #1A1E21;
    --color-bg-modal: #0C0E0F;
    --color-bg-hover: #222226;

    --color-border-primary: #9CA3AF;
    --color-border-secondary: #46484D;

    --color-text-primary: #D7D8E0;
    --color-text-secondary: #B0B2B8;
    --color-text-tertiary: #96989E;
    --color-text-quaternary: #67696E;

    /* 버튼 */
    --color-btn-primary-bg: #1B1B1F;
    --color-btn-primary-text: #B0B2B8;
    --color-btn-primary-hover-bg: #3F3F46;

    /* 채팅 */
    --color-chat-bg: #0C0E0F;
    --color-chat-system-bg: #C4C4CC;
    --color-chat-system-text: #45454A;
    --color-chat-mine-bg: #74747A;
    --color-chat-mine-text: #D7D8E0;
    --color-chat-other-bg: #4C4C4F;
    --color-chat-other-text: #D7D8E0;
    --color-chat-time: #6B7280;

    --admin-chatroom-bg: #28292E;
    --admin-chatroom-bg-hover: #85AED4;
    --admin-chatroom-text: #D7D8E0;
    --admin-chatroom-text-selected: #1B1B1F;

    /* 캘린더 세션 마킹 */
    --color-calendar-accent: #4f46e5;
    --color-calendar-border: #6366f1;
    --color-calendar-highlight-bg: #a3bffa;
    --color-calendar-selected-bg: #5774B3;
}