@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-chat: 'Poor Story', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-chat);
}

html {
  overflow-y: scroll;
}

.preserve-3d {
  transform-style: preserve-3d;
}
.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable both-edges;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}